.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: center;
}

.bt {
  font-size: 30px;
  margin-left: 30px;
}

.popup .content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 500px;
  height: 270px;
  z-index: 2;
  /*text-align: center*/
  padding: 20px;
  box-sizing: border-box;
}

.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #5f91fc;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.popup .content {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 500px;
  height: 270px;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Align items vertically */
  align-items: center; /* Align items horizontally */
}

.container input {
  align-content: grid;
  width: 300px;
  margin-left: 30%;
}

.container button {
  align-content: grid;
  margin-left: 30%;
}

.table button {
  margin-left: 0;
}

.container {
  align-content: center;
}

.container h1 {
  text-transform: uppercase;
  color: rgb(51, 122, 253);
}

.navbar-custom .nav-link:hover {
  background-color: #5f91fc; /* Change background color on hover */
}

.navbar-custom {
  background-color: rgb(51, 122, 253); /* Set background color to blue */
  width: 250px; /* Define width */
  height: 100vh; /* Set fixed height to viewport height */
  overflow-y: auto; /* Make the navbar scrollable if content exceeds height */
}
.navbar-custom .nav-link {
  color: rgb(255, 255, 255) !important; /* Set text color to white */
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items at the start (top) */
}
